#productListDiv {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

#newProductDiv {
  display: flex;
  justify-content: center;
}

p {
  background-color: #f1f1f1;
  margin: 1%;
  padding: 1%;
  width: 20%;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}
#checkBoxId {
  display: flex;
}
#mySpan {
  justify-content: space-between;
  display: flex;
}
